# Ignore Google auth and local data
credentials.json
token.json

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Streamlit secrets
.secrets/
.streamlit/secrets.toml

# Ignore system files
.DS_Store
Thumbs.db
